<html style="width:100%;">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" />
    <link type="text/css" rel="stylesheet" href="css/tuto6.css" />
</head>

<body>
    <div class="ui inverted fixed menu">
        <div class="header item">
            Tutoriel 6 - Les Composants
        </div>
    </div>

    <div class="ui main container" id="tuto6">
        <!--props tableau-->
        <div>
            <mon-message type="error" :message="message"></mon-message>
        </div>

        <!--props objet-->
        <div>
            <mon-message1 :message="message"></mon-message1>
        </div>

        <!--objet composant message passé à l'instance vue-->
        <div>
            <mon-message2 :message2="message2"></mon-message2>
        </div>

        <!--2 composants compteurs avec scopes propres -->
        <div>
            <counter></counter>
            <counter :start="3"></counter>
        </div>

        <!--objet composant alert avec événement vers parent-->
        <div>
            <mon-message3 :message3="message3" type="error" header="Attention" v-if="alert" @close="hideAlert"></mon-message3>
            <button @click="showAlert" v-if="!alert">Alerter</button>
        </div>

        <!--objet composant formulaire emission event vuejs1 -->
        <div>
            <form-user :user="user"></form-user>
            <span> {{ user}} </span>
        </div>

        <!--objet composant formulaire emission event + v-model depuis vuejs2 -->
        <div>
            <form-user v-model="user">
                <div slot="header">Header Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div slot="footer">Footer Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </form-user>
            <span> {{ user}} </span>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="js/tuto6.js"></script>
</body>

</html>